In [1]:
import pandas as pd

In [2]:
# 导入同目录下的 data.csv
data = pd.read_csv('data.csv')

（1）判断第一列(Id)是否有缺失值：如果有，则补全；

In [3]:
print(f"第一列中有缺失值的索引为：\n{data[data['Id'].isna()].index}")

第一列中有缺失值的索引为：
Index([21, 25, 33, 40, 46], dtype='int64')

In [4]:
# 遍历行号，因为 Id 为唯一值，从1开始，行号从0开始
# 所以行号与 Id 的关系为 Id = index + 1
for i in data[data['Id'].isna()].index:
    data['Id'].iloc[i] = i+1

C:\Users\47226\AppData\Local\Temp\ipykernel_22888\4202012179.py:4: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  data['Id'].iloc[i] = i+1
C:\Users\47226\AppData\Local\Temp\ipykernel_22888\4202012179.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Id'].iloc[i] = i+1
C:\Users\47226\AppData\Local\Temp\ipykernel_22888\4202012179.py:4: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  data['Id'].iloc[i] = i+1
C:\Users\47226\AppData\Local\Temp\ipykernel_22888\4202012179.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Id'].iloc[i] = i+1
C:\Users\47226\AppData\Local\Temp\ipykernel_22888\4202012179.py:4: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  data['Id'].iloc[i] = i+1
C:\Users\47226\AppData\Local\Temp\ipykernel_22888\4202012179.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Id'].iloc[i] = i+1
C:\Users\47226\AppData\Local\Temp\ipykernel_22888\4202012179.py:4: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  data['Id'].iloc[i] = i+1
C:\Users\47226\AppData\Local\Temp\ipykernel_22888\4202012179.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Id'].iloc[i] = i+1
C:\Users\47226\AppData\Local\Temp\ipykernel_22888\4202012179.py:4: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  data['Id'].iloc[i] = i+1
C:\Users\47226\AppData\Local\Temp\ipykernel_22888\4202012179.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Id'].iloc[i] = i+1

In [5]:
# 再次查看第一列是否还有缺失值
data[data['Id'].isna()]

Empty DataFrame
Columns: [Id, Chinese, Math, English]
Index: []

（2）判断是否有重复记录：如果有，则删除至唯一;

In [6]:
# 刨除 id 列，便于查找重复内容
data_drop_id = data.drop(columns='Id')
# 找出重复行
duplicated_rows = data_drop_id[data_drop_id.duplicated(keep=False)]
duplicated_Id = data_drop_id[data_drop_id.duplicated()].index

In [11]:
data = data.drop(index=duplicated_Id)

In [12]:
data

      Id  Chinese  Math  English
0    1.0     66.0    70       57
1    2.0     67.0    71       59
2    3.0     68.0    72       60
3    4.0     70.0    73       62
4    5.0     71.0    74       63
5    6.0     72.0    75       64
6    7.0     73.0    75       65
7    8.0     73.0    76       67
8    9.0     74.0    77       68
9   10.0     75.0    77       69
10  11.0     76.0    78       70
11  12.0     76.0    78       71
12  13.0     77.0    79       72
13  14.0     78.0    79       73
14  15.0     78.0    79       74
15  16.0     78.0    79       75
16  17.0     79.0    79       75
17  18.0     79.0    79       76
18  19.0     79.0    79       77
20  21.0     79.0    79       78
22  23.0     79.0    78       79
24  25.0     79.0    77       79
26  27.0     78.0    76       79
28  29.0     77.0    75       79
29  30.0      NaN    74       79
30  31.0     76.0    73       79
31  32.0     75.0    72       79
32  33.0     74.0    71       78
33  34.0     73.0    70       78
34  35.0     73.0    69       77
35  36.0     72.0    68       77
36  37.0     71.0    67       76
37  38.0     70.0    66       76
38  39.0     68.0    65       75
39  40.0     67.0    63       74
41  42.0     65.0    61       72
42  43.0     64.0    59       71
43  44.0     62.0    58       70
45  46.0     60.0    55       68
46  47.0     58.0    54       67
47  48.0     57.0    52       66
48  49.0     56.0    51       65
49  50.0     54.0    49       63

（3）计算成绩的平均值，作为新的一列加入到原数据框中

In [13]:
data['Average'] = data[['Chinese', 'Math', 'English']].mean(axis=1)

（4）寻找平均分最高的记录；

In [14]:
max_avg_index = data['Average'].idxmax()
highest_avg_record = data.loc[data['Average'] == data['Average'].loc[max_avg_index]]

In [15]:
highest_avg_record

      Id  Chinese  Math  English    Average
20  21.0     79.0    79       78  78.666667
22  23.0     79.0    78       79  78.666667

（5）统计每个科目及格(≥60分)的人数。

In [16]:
pass_Chinese_count = data[data['Chinese'] >= 60].shape[0]
pass_Math_count = data[data['Math'] >= 60].shape[0]
pass_English_count = data[data['English'] >= 60].shape[0]

In [17]:
pass_Chinese_count

38

In [18]:
pass_Math_count

36

In [19]:
pass_English_count

41